VITE_SUPABASE_URL=https://rbbntoaxrhrocwxsreus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJiYm50b2F4cmhyb2N3eHNyZXVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0MjU1MTIsImV4cCI6MjA4MTAwMTUxMn0.m5RMsJhbx-WaXnVRoCbp0RQT6EzvokGKR21xl1q5x5w
